<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@600;900&display=swap" rel="stylesheet">
  <script src="https://kit.fontawesome.com/4b9ba14b0f.js" crossorigin="anonymous"></script>
    
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    <title>Searches page</title>
    <link rel="stylesheet" href="../styles/base.css">
    <link rel="stylesheet" href="../styles/errorStyle.css">
</head>

<body>
    <header>
        <nav id="myNav">
            <h1>Best Books!</h1>
            <div id="burger">
                <div class="line"></div>
                <div class="line"></div>
                <div class="line"></div>
            </div>
        </nav>
        <div id="optionsCont" class="optionsContainer hide">
            <a  href="/">
                <h2>Home</h2>
            </a>
            <a  href="/searches/new">
                <h2>Searsh the Google Books API</h2>
               
            </a> 

        </div>
        <h1 class="headerText">Search Results</h1>
    </header>

    <div class="mainbox">
        <div class="err">4</div>
        <i class="far fa-question-circle fa-spin"></i>
        <div class="err2">4</div>
        <div class="msg">Maybe this page moved? Got deleted? Is hiding out in quarantine? Never existed in the first place?<p>Let's go <a href="/">home</a> and try from there.</p></div>
    </div>

    <script src="../script.js"></script>
    <script src="https://kit.fontawesome.com/d24b63793e.js" crossorigin="anonymous"></script>
</body>

</html>