<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    <title>Home page</title>
    <link rel="stylesheet" href="./styles/base.css">
</head>

<body>
    <header>
        <nav id="myNav">
            <h1>Best Books!</h1>
            <div id="burger">
                <div class="line"></div>
                <div class="line"></div>
                <div class="line"></div>
            </div>
        </nav>
        <div id="optionsCont" class="optionsContainer hide">
            <a  href="/">
                <h2>Home</h2>
            </a>
            <a  href="/searches/new">
                <h2>Searsh the Google Books API</h2>
               
            </a> 

        </div>
        <h1 class="headerText">Hello world</h1>
    </header>
    
    
    <script src="script.js"></script>
    <script src="https://kit.fontawesome.com/d24b63793e.js" crossorigin="anonymous"></script>
</body>

</html>