
<nav id="myNav">
    <h1>Best Books!</h1>
    <div id="burger">
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
    </div>
</nav>
<div id="optionsCont" class="optionsContainer hide">
    <a  href="/">
        <h2>Home</h2>
    </a>
    <a  href="/searches/new">
        <h2>Searsh the Google Books API</h2>
       
    </a> 

</div>